<%= form_with(model: tweet) do |form| %>
<div class="contenedor-formulario">
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: flex;">
    <%= form.label :author, "Your name:", style:"font-size:13px; margin-right:5px;" %>
    <%= form.text_field :author, size: '70' %>
  </div>

  <div class="field" style="display: flex;">
    <div style="display: flex; padding-right:4em;">
      <%= form.label :content, "Your tweet:", style:"align-self:center;font-size:13px; margin-right:5px;" %>
      <%= form.text_area :content, size:'70' %>
    </div>

    <div class="actions" style="align-self: end;">
      <%= form.submit "Tweet!"%>
    </div>

  </div>



</div>


<% end %>
