<%
    date = Time.now.strftime("%A, %B %d, %Y") 
    date_writed = false
  %>
  <div class="tweets-container">
    <% @tweets.each do |tweet|%>

    <% if date != tweet.created_at.strftime("%A, %B %d, %Y") %>
      <%
        date = tweet.created_at.strftime("%A, %B %d, %Y") 
        date_writed = false
      %>      
    <% end %>

    <% if !date_writed %>
      <h3>... <%= date%></h3>
      <%date_writed = true%>
    <% end %>
      <div class="tweet">
        <div class="tweet-like">
          <span class="numlikes"><%= tweet.likes%></span>
          <br>
          <span class="smallfont">
            people like this
            <span>
              <br>
              <h3>
                <%= link_to 'Like', like_tweet_path(tweet.id), method: :put %>
              </h3>
            </span>
          </span>
        </div>

        <div class="tweet-content">

          <h4>
            <em><%= "#{tweet.author}"%></em>
            @ <%= tweet.created_at.strftime("%H:%M")%>
          </h4>

          <p><%= tweet.content %></p>
          <p style="text-align:right;">
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        
        </div>

      </div>
    <%end%>
  </div>