
<div>
  <div>
    <h1 style="text-align:center; color: #660000">Wall of Tweets - RoR Edition 2021</h1>
  </div>

  <%= render 'form', tweet: @newTweet%>

  <% flash.each do |key, value| %>
    <div class="wotitem">
      <span class="<%= key %>">
        <% if value.is_a? Array %>
          <% value.each_with_index do |error, index| %>
            <%= error %> 
            <% if index != value.count-1 %> 
              <%= " and " %>
            <%end%>
          <% end %>
        <% else %>
          <%= value %>
        <% end %>
      </span>
    </div>
  <% end %>


  <%= render 'list', tweets: @tweets%>
  
</div>
