/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
         font-family: Arial,Helvetica,sans-serif;
        color: #444444;
        background-color: #fef7f7;
        font-size: 12pt;
}

.contenedor-formulario{
        color: #4d5e9b;
        margin: auto;
        border: 1px dashed #660000;
        padding-left: 20px;
        padding-top: 20px;
        background-color: white;
        width: 90%;
}

.tweet{
        border: 2px solid #dfcaca;
        margin: 20px auto;
        padding: 1em;
        width: 90%;
        background-color: white;
}

.tweet-like{
        float: left;
        width: 95px;
        margin-top: 0.5em;
        text-align: center; 
}
.numlikes{
        font-weight: bold;
        color: mediumvioletred;
        font-size: 1.5em;
}
.tweet-content{
        border-left: 2px solid #dfcaca;
        margin-left: 115px;
        padding-left: 1.1em;
}

.smallfont{
        font-size:9px;
}

.success{
        color:green;
}
.error{
        color: red;
}

.wotitem{
        border: 2px solid #dfcaca;
        margin: 20px auto;
        padding: 1em;
        width: 90%;
        background-color: white;
}